body{
    background-image: url("images/Santa_Fe_Stucco.bmp");
    background-image: repeat;
    color: aliceblue;
    text-shadow: 2px 2px #000000;
}
.whitetext{
    color: rgb(135, 196, 248);
}
.checked {
    color: orange;
}