<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <nav>
        <h3><a class="whitetext" href="{{ url_for('my_view.index')}}">Home</a></h3>
        <h3><a class="whitetext" href="{{ url_for('my_view.page2')}}">My Second Page</a></h3>
        <h3><a class="whitetext" href="{{ url_for('my_view.page3')}}">My Third Page</a></h3>
    </nav>

    {% block content %}

    {% endblock %}

    <footer>
        <h4>This is my footer -2024-</h4>
    </footer>
</body>
</html>