{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to my website!</h1>
    <form>
        <input type="text" id="band" name="band" value="Enter a Band name!">
        <input type="submit" value="Submit">
    </form>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum sequi aut dicta architecto quaerat est iusto ea suscipit labore rem doloremque nemo voluptatibus maxime ipsa consequatur quibusdam eaque repellat, veritatis modi neque consequuntur illo cum quisquam ad? Blanditiis obcaecati at, eos itaque accusantium quisquam atque a incidunt cum vero vel veritatis perferendis nemo optio amet nihil quidem possimus ducimus nostrum ullam, saepe nobis aperiam tempora! Maiores, beatae reprehenderit, pariatur eius veniam neque mollitia officia inventore quos enim adipisci provident, voluptates laboriosam molestiae! Sunt non, eveniet minima quidem ullam aut? Accusamus!</p>

{% endblock %}